<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        .card {
            width: 300px;
            background-color: #ccc;
        }
        .card img {
            width: 100%;
        }
        .card-body {
            padding: 15px;
            height: 300px;
            display: flex;
            flex-direction: column;
            gap:20px;
        }
       
        .card-body a {
            margin-top: auto;
        }
    </style>
</head>
<body>
    <div class="card">
        <img src="https://picsum.photos/id/22/400/300" alt="" class="card-img">
        <div class="card-body">
            <h3>hello</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, eligendi!
            </p>
            <a href="#">Link</a>
        </div>
    </div>
</body>
</html>