* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
img {
    display: block;
    width: 100%;
}
/* button */
/* 按鈕結構 */
.btn {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    color: #000;
    background-color: #aaa;
    border-radius: 5px;
    font-size: 1rem;
    border: 0;
}
/* 按鈕修飾符 */
.btn-blue {
    background-color: #4eb8ff;
}
.btn-red {
    background-color: #d50040;
    color: #fff;
}