<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="grid.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <a href="#" class="nav-logo">logo</a>
        <div class="nav-menu">
            <a href="#" class="nav-link">Link</a>
            <a href="#" class="nav-link">Link</a>
            <a href="#" class="nav-link">Link</a>
            <a href="#" class="nav-link">Link</a>
        </div>
        <div class="nav-menu">
            <a href="#" class="nav-link">Login</a>
            <a href="#" class="nav-link">Sign Up</a>
        </div>
    </nav>
    <header>
        <img src="https://picsum.photos/id/40/1600/900" alt="">
        <div class="header-caption">
            <h1>HELLO</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos nulla, suscipit rerum laboriosam ut impedit!
            </p>
            <a href="#" class="btn btn-blue">More</a>
        </div>
    </header>
    <section id="about">
        <div class="container row">
            <div class="col-4">
                <div class="about-item">
                    <div class="about-icon">
                        <i class="fa-solid fa-bolt fa-3x"></i>
                    </div>
                    <div class="about-body">
                        <h3>about</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere possimus commodi ullam voluptatem accusamus modi fugiat necessitatibus eum enim magni!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="about-item">
                    <div class="about-icon">
                        <i class="fa-solid fa-tree fa-3x"></i>
                    </div>
                    <div class="about-body">
                        <h3>about</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere possimus commodi ullam voluptatem accusamus modi fugiat necessitatibus eum enim magni!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="about-item">
                    <div class="about-icon">
                        <i class="fa-solid fa-headphones fa-3x"></i>
                    </div>
                    <div class="about-body">
                        <h3>about</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere possimus commodi ullam voluptatem accusamus modi fugiat necessitatibus eum enim magni!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>